@model WITTracker.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Teacher
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Teacher.FirstName) @Html.DisplayFor(model => model.Teacher.LastName)
            </dd>

            <dt>
                Current Grades
            </dt>
            <dd>
                <div class="right">
                    <table class="table" style="width:70%;float:left;">
                        <tr>
                            <th>Subject</th>
                            <th>Score</th>

                        </tr>
                        @foreach (var item in Model.Grades)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GradeSubject.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                            </tr>
                        }

                        <tr>
                    </table>
                </div>
                <div class="left">
                    <table class="table" style="width:30%;float:right;">
                        <tr>
                            <th>Program Averages</th>
                        </tr>
                        <tr>
                            <td>@ViewBag.CompositeAverage</td>
                        </tr>
                        <tr>
                            <td>@ViewBag.EnglishAverage</td>
                        </tr>
                        <tr>
                            <td>@ViewBag.MathAverage</td>
                        </tr>
                        <tr>
                            <td>@ViewBag.WritingAverage</td>
                        </tr>
                        <tr>
                            <td>@ViewBag.ReadingAverage</td>
                        </tr>
                        <tr>
                            <td>@ViewBag.ScienceAverage</td>
                        </tr>
                    </table>
                </div>


            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
