@model IEnumerable<WITTracker.Models.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
<div class="jumbotron4">
    <h1>Class Averages</h1>
    <p class="lead">Composite - @ViewBag.CompositeAverage</p>
    <p>English - @ViewBag.EnglishAverage</p>
    <p>Math - @ViewBag.MathAverage</p>
    <p>Writing - @ViewBag.WritingAverage</p>
    <p>Science - @ViewBag.ScienceAverage</p>
    <p>Reading - @ViewBag.ReadingAverage</p>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
   @using (Html.BeginForm())
   {
       <p> Search Student: @Html.TextBox("searchQuery") <br/>
           <input type="submit" value="search" class="btn btn-default" /></p>
   }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Teacher Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.RouteLink((item.Teacher.FirstName + " " + item.Teacher.LastName), "ShowTeacher", new {id=item.TeacherID})
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
        </td>
    </tr>
}

</table>
