@model WITTracker.Models.Teacher

<div class="jumbotron2">
    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

    <div>
        <h4>Teacher</h4>
        <hr />
        <dl>
            <dt>
                Teaches in
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.Name)
            </dd>

            <dt>
                Preferred Subject
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PreferenceSubject.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.RouteLink((ViewBag.email as string), "Email", null)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Teachers", "Index")
</p>
